<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 site">


            <div class="site-title">
                <h2><b>Hacker</b> News</h2>
            </div>
            <!--/site top -->
            <div when-scrolled="loadMore()">
                <div class="post" ng-repeat="news in newsInfo">
                    <img ng-if ="news.thread.main_image" ng-src="{{news.thread.main_image}}" class="img-thumbnail" width="90">
                    <img ng-if ="!news.thread.main_image" ng-src="{{noImage}}" class="img-thumbnail" width="90">
                    <div>
                        <h4 class="shorten-text">{{news.title}}</h4>
                        <p class="shorten-text">{{news.text}}</p>
                        <small>{{date(news.published)}}</small>
                    </div>
                </div>
                <div class="load-image">
                    <img src="images/loading.gif" class="img-responsive">
                </div>
            </div>

            <div class="site-footer">
                <p><a href="#">Home</a> | <a href="#">Contact</a> | <a href="#">Submit</a> </p>
            </div>

        </div>
        <!-- /col-md-6 -->
    </div>
    <!--/row -->
</div>
<!--/container -->